@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif; 
}

/* Layout containers */
header,
footer {
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 20px;
}

main{
    margin-top: 0;
    background-color: lightgray;

}

h1 {
    text-align: center;
    color: white;
}

h2{
    margin-top: 0;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav{
    text-align:center; 
    padding: 10px;
}

nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: underline;
}

nav a:hover {
    color: #616061;
}

.hide {
    display: none;
}

.menu-btn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Image grid (mobile first) */
.image-grid {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.image-grid img {
  border: 5px solid white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
}

dialog img {
    height: 40%;
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 19vh;
    right: 1vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

/* Tablet view */
@media screen and (min-width: 700px) {
    .image-grid {
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: block;
        margin: 0 auto;
    }

    }
    dialog img {
    width: 85%;
    height: 50%;
    display: block;
    margin: 20vh auto;
    }
    .close-viewer {
    /* position: absolut - don't want this in the actual flow of the html. I want it to be right where I tell it to be */
    position: absolute;
    top: 18vh;
    right: 5vh;
    padding: 3px 6px;
    font-size: 1.5em;
    }

/* Desktop view */
@media screen and (min-width: 1000px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin: 0 auto;
        padding: 5vh 0;
    }

    nav.hide {
        display: block;
    }

    nav a{
        display: inline;
        margin-left: 20px;
    }
     .menu-btn{
        display: none;
    }
    dialog img {
    height: 60%;
    width: 55%;
    display: block;
    margin: 20vh auto;
    }
    .close-viewer {
    position: absolute;
    top: 18vh;
    right: 42vh;
    padding: 3px 6px;
    font-size: 1.5em;
    }
}
