@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* Layout containers */
header,
footer {
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 20px;
}

main{
    margin-top: 0;
    background-color: lightgray;

}

h1 {
    text-align: center;
    color: white;
}

h2{
    margin-top: 0;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav a {
    padding: 20px;
    display: none;
    color: white;
}

nav a:hover {
    color: #616061;
}

.menu-btn {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Image grid (mobile first) */
.image-grid {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.image-grid img {
  border: 5px solid white;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
}

/* Tablet view */
@media screen and (min-width: 700px) {
    .image-grid {
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: block;
        margin: 0 auto;
    }

    nav a {
        display: none;
        color: white;
    }
}

/* Desktop view */
@media screen and (min-width: 1000px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn{
        display: none;
    }

    nav a{
        display: inline;
        color: white;
        margin-left: 20px;
    }
}
