#content{
max-width: 60%;
    margin: 50px auto;
    padding-top: 50px;
}

h1{
    font-size: 1.5cm;
    text-align: center;
}

.center-text{
    text-align: center;
    color: dodgerblue;
    font-style: initial;
    font-size: 0.6cm;
    letter-spacing: 0.5px;
}

.black-text{
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 50px;
    font-size: 0.7cm;
    font-weight: lighter;
}

h2{
    font-style: italic;
    padding-left: 125px;
    font-weight: lighter;
}

.list{
    padding-left: 175px;
    padding-right: 175px;
    font-size: 0.7cm;
    font-weight: lighter;
}

ol li{
    margin-bottom: 30px;
}
#logo{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode{
    background-color: black;
    color: white;
}
#dark-logo{
     width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}