
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    
}
header{
    padding-bottom: 25px;  
}
footer{
    border-top: 3px solid peachpuff;
}
.double-line{
    border-top: 3px solid peachpuff;
    box-shadow: 0 -55px peachpuff;
    
}
.main-nav {
    border-top: 3px solid peachpuff;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;

}
#book-list {
    padding: 0 2rem;
}

.book {
    max-width: 700px;
    margin: 20px auto;
    text-align: center; 
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book-meta {
    text-align: right;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.book-meta p {
    margin: 0.25rem 0;
}
.italic {
    font-style: italic;
}
.book img {
    max-width: 100%;
    display: inline;
    border-radius: 8px;
    margin: 0 auto;
}
#desc{
    text-align: left;
    justify-content: center;
    width: 60%;
}
@media (max-width: 600px){
    .book-meta{
        border-top: 3px solid peachpuff;
    }
}
@media (min-width: 1000px) {
    .double-line{
        border:none;
    }
    .main-nav{
        border-bottom: 3px solid peachpuff;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        align-items: start;
    }
    
    .book img{
        grid-column: 2;
    }
    #desc{
        grid-column: 2;
        width: 100%;
    }

    .book-meta {
        grid-column: 1;
        font-size: 0.9rem;
        padding-right: 25px;
    }
    .right-column{
        border-left: 3px solid peachpuff;
        padding-left: 25px;
    }

    .content h2 {
        text-align: left;
    }

    .content img {
        max-width: 200px;
        margin: 1rem 0;
    }
}          
