body {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#checkoutForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 20px;
  max-width: 650px;
  margin: 70px auto;
}


/* =========================
   Card Front
========================= */

#cardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;  
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 8px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #aaa;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    z-index: 2;
}


/* Row 1: TOTAL and icon */

label[for="total"] {
  grid-column: 1 / 3;
  grid-row: 1;
}

#card_img {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  font-size: 1.5em;
}


/* Card Number */

label[for="cardNumber"] {
  grid-column: 1 / 3;
  grid-row: 2;
}

#cardNumber {
  grid-column: 1 / 3;
  grid-row: 3;
}


/* Card Holder */

label[for="fullName"] {
  grid-column: 1;
  grid-row: 4;
}

#name {
  grid-column: 1;
  grid-row: 5;
}


/* Expiration */

label[for="expiration"] {
  grid-column: 2;
  grid-row: 4;
}
#month{
    width: 60px;
}
#year{
    width: 60px;
}
#expGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 5;
}
/* trying a different approach above
#month{
    grid-column: 2;
    grid-row: 5;
    width: 60px;
}

#year{
    grid-column: 3;
    grid-row: 5;
    width: 60px;
}
*/
/* =========================
   Card Back
========================= */

#cardBack {
  grid-column: 2 / 4;
  grid-row:  2/ 4;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #aaa;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  /* giving this one a z-index of 1 so the front will overlap it */
  z-index: 1;
}


/* Black strip */

#stripe {
    content: "";
    grid-column: 1/5;
    grid-row: 1;
    background-color: black;
    height: 40px;
    width: 100%;
}


/* label for CVV */

label[for="cvv"] {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
  padding-right: 20px;
  padding-top: 70px;
}

#cvv {
  grid-column: 2;
  grid-row: 4;
  width: 80px;
  padding-right: 20px;
}


/* =========================
   Submit Button
========================= */

button {
    grid-column: 3;
    grid-row: 4;
    padding: 10px 20px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    justify-self:last baseline;
}


/* =========================
   Inputs and Labels
========================= */

label {
  display: block;
  font-size: 0.9em;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
  box-sizing: border-box;
}
