
/* form-demo.css */
body {
  font-size: 1.2em;
}
form {
  width: 50%;
  margin: 0 auto;
}
h1, h2 {
  text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Add a border to make it visually consistent */
    border-radius: 4px;
  }
  #checkoutForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    max-width: 600px;
    margin: 40px auto;
    justify-content: center;
  }
#cardBack {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    background-color: #d9d4c7;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #aaa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
}
#cardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    grid-template-rows: auto auto auto auto;
    background-color: #d9d4c7;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #aaa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
}

#cardBack::before {
    content: "";
    background-color: black;
    height: 30px;
    grid-row: 1;
    border-radius: 4px;
}
button {
    grid-column: 3;
    grid-row: 4;
    background-color: lightgray;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  label[for="total"]{
    grid-column: 1/3;
    grid-row: 1;
  }
  label[for="cardNumber"]{
    grid-column: 1/4;
    grid-row: 2;
    padding: 0px;
  }
  #cardNumber{
    grid-column: 1/4;
    grid-row: 4;
  }
  label[for="fullName"]{
    grid-column: 1;
  }
  #name{
    grid-column: 1;
    grid-row: 5;
  }
  label[for="expiration"]{
    grid-column: 2/4;
    grid-row: 4;
    width: 60px;
  }
#expGroup{
    grid-column: 2/4;
    grid-row: 4;
    display: flex;
    gap: 10px;
}
#expGroup input{
    width: 60px;
}
#month,
#year {
    width: 60px;
    display: inline-block;
}
  #card_img{
    font-size: 1.5em;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }
  label[for="cvv"]{
    grid-column: 2;
    grid-row: 4;
    width: 80px;
  }
  #cvv{
    grid-column: 2;
    grid-row: 3;
    justify-items: right;
  }
  input{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #999;
  }
  .errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: red;
  }
  
          