
body {
    background-size: 100vw 100vh;
    /* can also use background-size: cover; */
    margin: 0;
    padding: 20px;
    transition: background-image 1s ease;
}

.container {
    text-align: center;
    padding: 2rem;
    /* rem means 2 X as big as 16 pixels*/
    max-width: 600px;
    margin: 2rem auto;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
}

#logo {
    margin-top: 1rem;
    width: 300px;
}

.content {
    margin-top: 3rem;
    font-size: 1.5rem;
}
          